/* Global UI */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  line-height: 17px;
  background-color: #e6eae8;
}

a {
  color: #20aae5;
  text-decoration: none;
}

.top_bar {
  width: 100%;
  min-width: 1050px;
  height: 40px;
  background-color: #20aae5;
  border-bottom: 5px solid #1894ca;
  margin: 0 0 10px 0;
  display: inline-flex;
  position: fixed;
  z-index: 10;
}

.logo a {
  font-family: 'Montserrat', sans-serif;
  margin-left: 10px;
  font-size: 30;
  position: relative;
  top: 9px;
  text-shadow: #73b6e2 0.5px 0.5px 0.5px;
  color: #1086ba;
}

a:hover {
  text-decoration: none;
}

nav {
  float: right;
  right: 1px;
  position: absolute;
  margin: 10px;
}

nav a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  border-bottom: 7px solid #e67e22;
  color: #ffffff;
}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  width: 75%;
  min-width: 950px;
}

.column {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #d3d3d3;
  z-index: -1;
  color: #555555;
}

.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.user_details img {
  width: 125px;
  border-radius: 5px;
  height: 125px;
  margin-right: 5px;
}

.main_column {
  float: right;
  width: 70%;
  z-index: -1;
  min-height: 170px;
}

.profile_main_column {
  min-width: 670px;
  float: left;
  width: 70%;
  z-index: -1;
}

.profile_info_bottom {
  margin: 10 0 0 7px;
}

.post_form {
  width: 100%;
}

.post_form textarea {
  width: 80%;
  height: 60px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

.post_form textarea:focus {
  outline: 0;
}

.post_form input[type=submit] {
  width: 10%;
  height: 60px;
  border: none;
  border-radius: 3px;
  background-color: #3498db;
  font-family: 'Montserrat', sans-serif;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
  position: absolute;
  outline: 0;
  margin: 0;
}

.post_form input[type=submit]:active {
  padding: 5px 3px 3px 5px;
}

.posts_area p {
  text-align: center;
}


.post_profile_pic {
  float: left;
  margin-right: 7px;
}

.post_profile_pic img {
  border-radius: 3px;
  width: 50px;
  height: 50px;
}

.status_post {
  width: 96%;
  font-size: 15px;
  padding: 0px 5px;
  min-height: 75px;
  cursor: pointer;
}

.comment_profile_pic {
  float: left;
  width: 30px;
  height: 30px;
}

#comment_iframe {
  max-height: 250px;
  margin-top: 5px;
  width: 100%;
}

.comment_section {
  padding: 0 5px 5px 5px;
}

.comment_section img {
  margin: 0 3px 3px 3px;
  border-radius: 3px;
}

#comment_form textarea {
  border-color:#d3d3d3;
  width: 85%;
  height: 30px;
  border-radius: 5px;
  color: #616060;
  font-size: 14px;
  margin: 3px 3px 3px; 5px;
}

#comment_form input[type=submit] {
  border: none;
  background-color: #20aae5;
  color: #156588;
  border-radius: 5px;
  width: 13%;
  height: 35px;
  margin-top: 3px;
  position: absolute;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
  padding: 0px;
  text-decoration: none;
  color: #20aae5;
  border: none;
}

.newsfeedPostOptions iframe {
  border: 0;
  height: 17px;
  width: 120px;
}

.comment_like {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #3498db;
  padding: 0;
  height: auto;
  width: auto;
  margin: 0;
}

.like_value {
  display: inline;
  font-size: 14px;
}

.profile_left {
  top: -10px;
  width: 17px;
  max-width: 240px;
  min-width: 130px;
  height: 100%;
  float: left;
  position: relative;
  background-color: #37b0e9;
  border-right: 10px solid #83d6fe;
  color: #cbeaf8;
  margin-right: 20px;
}

.profile_left img {
  min-width: 80px;
  width: 55%;
  margin: 20px;
  border: 5px solid #83d6fe;
  border-radius: 100px;
}

.profile_left input[type="submit"] {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  margin: 7px 0px 0px 7px;
  border: none;
  color: #ffffff;
}

.profile_info {
  display:list-item;
  background-color: #2980b9;
  width: 100%;
  padding: 10px 0 10px 0;
}

.profile_info p {
  margin: 0 0 0 20px;
  word-wrap: break-word;
}

.danger {
  background-color: #e74c3c;
}

.warning {
  background-color: #f0ad43;
}

.default {
  background-color: #bdc3c7;
}

.success {
  background-color: #2ecc71;
}

.info {
  background-color: #3498bd;
}

.deep-blue {
  background-color: #ff43f0;
}

#accept_button {
  background-color: #2ecc71;
  width:;
  height:;
  border-radius:;
  margin:;
  vorder:;
  color:;
}

#accept_button {
  background-color: #2ecc71;
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #ffffff;
}

#ignore_button {
  background-color: #e74c3c;
  width: 20%;
  height: 28px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  color: #ffffff;
}

.delete_button {
  height: 22px;
  width: 22px;
  padding: 0;
  float: right;
  border-radius: 4px;
  right: -15px;
  position: relative;
}

#message_textarea {
  width: 80%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
}

#message_submit {
  height: 41px;
  width: 120px;
  margin: 0;
  position: absolute;
  border: none;
  background-color: #20aae5;
  color: #156588;
  border-radius: 5px;
  text-shadow: #73b6e2 0.5px 0.5px 0px;
}

.loaded_messages {
  height: 55px;
  min-height: 300px;
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}

.loaded_conversations {
  max-height: 216px;
  overflow: scroll;
}

.message {
  border: 1px solid #000000;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  display: inline-block;
  color: #ffffff;
}

.message#blue {
  background-color: #3498db;
  border-color: #2980b9;
  float: right;
  margin-bottom: 5px;
}

.message#green {
  background-color: #2ecc71;
  border-color: #27ae60;
  float: left;
  margin-bottom: 5px;
}

.user_found_messages {
  border-bottom: 1px solid #d3d3d3;
  padding: 8px 8px 10px 8px;
}

.user_found_messages:hover {
  background-color: #f3f3f3;
}

.user_found_messages img {
  border-radius: 5px;
  float: left;
  width: 35px;
  margin: 0px 10px 0px 0px;
  height: 35px;
}

#grey {
  color: #a3a3a3;
}

.resultDisplay {
  padding: 5px 5px 0px 5px;
  height: 70px;
  border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a {
  float: none;
}

.resultDisplay:hover {
  background-color: #ebebeb;
  text-decoration: none;
}

.liveSearchProfilePic img {
  border-radius: 25px;
  float: left;
  margin: 1px 12px 0px 2px;
  width: 50px;
  height: 50px;
}

.liveSearchText {
  background-color: transparent;
  color: #1e96ca;
}

.liveSearchText p {
  margin: 0px 0px 0px 10px;
  font-size: 12px;
}

.liveSearchText .username {
  margin: 0px 0px 0px 0px;
}

.tab-content {
  margin: 25px 0px 0px 0px;
}

.dropdown_data_window {
  height: 280px;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  width: 300px;
  position: absolute;
  right: 10px;
  top: 40px;
  overflow: scroll;
  border-radius: 0px 0px 8px 8px;
  border-top: none;
}

.notification_badge {
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #ff0000;
  border-radius: 10px;
  position: absolute;
  left: 5px;
  top: -5px;
}

.resultDisplayNotification {
  height: auto;
  color: #1485bd;
  padding-bottom: 7px;
}

.resultDisplayNotification img {
  height: 40px;
  border-radius: 5px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.timestamp_smaller {
  font-size: 85%;
  margin: 0px;
}

.search {
  margin: 8px 0px 0px 15%;
}

.search #search_text_input {
  border: thin solid #e5e5e5;
  float: left;
  height: 23px;
  outline: 0px;
  width: 100px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.button_holder {
  background-color: #f1f1f1;
  border: thin solid #e5e5e5;
  cursor: pointer;
  float: left;
  height: 23px;
  text-align: center;
  width: 50px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button_holder img {
  margin: 1px 0px 0px 0px;
  height: 15px;
}

.search_results {
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-bottom: none;
  border-top: none;
  margin: 21px 0px 0px 0px;
}

.search_results_footer {
  padding: 7px 4px 0px 4px;
  height: 30px;
  border: 1px solid #dadada;
  background-color: #20aae5;
  text-align: center;
}

.search_results_footer a {
  color: #ffffff;
}

.search_result {
	padding: 10px;
  height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #ffffff;
}

.result_profile_pic {
	float: left;
  margin-right: 10px;
}

.result_profile_pic img {
  width: 100px;
  height: 100px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
  height: 55px;
  margin: 1px 12px 0px 2px;
  float: left;
}

.settings_input {
  border: 1px solid #cccccc;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}

.settings_submit {
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  color: #ffffff;
}
